# Byte-compiled
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

/db.sqlite3
/depictions/settings/mysql.py
/depictions/settings/server.py
/depictions/db.sqlite3

/depctions/settings/dev_secret.py
/depctions/settings/mysql.py
/depctions/settings/postgres.py
/play.ipynb
/staticfiles/*
