.reference {
    cursor: pointer;
    color: #0c0c0c;
}

span.data-hr {
    background-color: #ffff00;
}

.card {
    overflow: visible;
}

a {
    color: #bd0000;
}

a:not([href]):not([tabindex]) {
    color: #bd0000;
    text-decoration: none;
}

