.reference {
    cursor: pointer;
    color: #b0c3a7;
}

span.data-hr {
    background-color: #ffff00;
}

.card {
    overflow: visible;
}

a {
    color: #b0c3a7;
}

a:not([href]):not([tabindex]) {
    color: #b0c3a7;
    text-decoration: none;
}
