{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {{ block.super }}
    {% if front %}
        <script src="{{ openseadragon_js }}"></script>
    {% endif %}
{% endblock scriptHeader %}
{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bilder</h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="front-tab" data-toggle="tab" href="#front" role="tab" aria-controls="front" aria-selected="true">Vorderseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="back-tab" data-toggle="tab" href="#back" role="tab" aria-controls="back" aria-selected="false">Rückseite</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="front" role="tabpanel" aria-labelledby="front">
                            {% if front %}
                                <div id="img_front" style="width: 100%; height: 400px"></div>
                                <script type="text/javascript">
                                    var viewer = OpenSeadragon({
                                        id: "img_front",
                                        tileSources: "{{iiif_server }}/{{front }}/info.json",
                                        prefixUrl: "{{ openseadragon_img }}"
                                    });
                                </script>
                            {% else %}
                            <p>
                                noch kein Bild zugeordnet
                            </p>
                            {% endif %}

                        </div>
                        <div class="tab-pane fade" id="back" role="tabpanel" aria-labelledby="back">
                            {% if front %}
                                <div id="img_back" style="width: 100%; height: 400px"></div>
                                <script type="text/javascript">
                                    var viewer = OpenSeadragon({
                                        id: "img_back",
                                        tileSources: "{{iiif_server }}/{{ back }}/info.json",
                                        prefixUrl: "{{ openseadragon_img }}"
                                    });
                                </script>
                            {% else %}
                                <p>
                                    noch kein Bild zugeordnet
                                </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info</h4>
                </div>
                <div class="card-body">
                    some text
                </div>
            </div>
        </div>
    </div>

{% endblock %}
