{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Info</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        {% get_verbose_name cardcollection "name" %}
                    </th>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name cardcollection "abbreviation" %}
                    </th>
                    <td>
                        {{ object.abbreviation }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name cardcollection "description" %}
                    </th>
                    <td>
                        {{ object.description }}
                    </td>
                </tr>
                <tr>
                    {% if object.part_of %}
                        <th>
                            {% get_verbose_name cardcollection "part_of" %}
                        </th>
                        <td>
                            <a href="{{ object.part_of.get_absolute_url}}">
                                {{ object.part_of }}
                            </a>
                        </td>
                    {% endif %}
                </tr>

                {% if object.has_parts.all %}
                <tr>
                    <th>
                        Teilsammlungen
                    </th>
                    <td>
                        {% for x in object.has_parts.all %}
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {% if object.contain_cards.all %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ object.contain_cards.all|length }} Karten</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Lfd. Nr.
                            </th>
                            <th>
                                Bild Technik
                            </th>
                            <th>
                                Künstler
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in object.contain_cards.all %}
                            <tr>
                                <td>
                                    {% if x.public %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {% else %}
                                        {{ x }} <small>derzeit in Bearbeitung</small>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for y in x.bild_technik.all %}
                                        {{ y }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for y in x.creator_person.all %}
                                        <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
