{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {{ block.super }}
    {% if front %}
        <script src="{{ openseadragon_js }}"></script>
    {% endif %}
{% endblock scriptHeader %}
{% block custom %}
{% if card.public or user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bilder</h3>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="front-tab" data-toggle="tab" href="#front" role="tab" aria-controls="front" aria-selected="true">Vorderseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="back-tab" data-toggle="tab" href="#back" role="tab" aria-controls="back" aria-selected="false">Rückseite</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="front" role="tabpanel" aria-labelledby="front">
                            {% if front %}
                                <div id="img_front" style="width: 100%; height: 400px"></div>
                                <script type="text/javascript">
                                    var viewer = OpenSeadragon({
                                        id: "img_front",
                                        tileSources: "{{iiif_server }}/{{front }}/info.json",
                                        prefixUrl: "{{ openseadragon_img }}"
                                    });
                                </script>
                            {% else %}
                            <p>
                                noch kein Bild zugeordnet
                            </p>
                            {% endif %}

                        </div>
                        <div class="tab-pane fade" id="back" role="tabpanel" aria-labelledby="back">
                            {% if front %}
                                <div id="img_back" style="width: 100%; height: 400px"></div>
                                <script type="text/javascript">
                                    var viewer = OpenSeadragon({
                                        id: "img_back",
                                        tileSources: "{{iiif_server }}/{{ back }}/info.json",
                                        prefixUrl: "{{ openseadragon_img }}"
                                    });
                                </script>
                            {% else %}
                                <p>
                                    noch kein Bild zugeordnet
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Info</h3>
                </div>
                <div class="card-body">
                    <legend>
                        Systematik
                    </legend>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                            {% get_verbose_name card "legacy_id" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'legacy_id' %}"></i>
                            </th>
                            <td>
                                {{ object.legacy_id }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "card_collection" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'card_collection' %}"></i>
                            </th>
                            <td>
                                <a href="{{ object.card_collection.get_absolute_url}}">
                                    {{ object.card_collection }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "archiv" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'archiv' %}"></i>
                            </th>
                            <td>
                                <a href="{{ object.archiv.get_absolute_url}}">
                                    {{ object.archiv }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "signature" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'signature' %}"></i>
                            </th>
                            <td>
                                {{ object.signature }}
                            </td>
                        </tr>
                        <tr>
                          <th>
                            PID
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="Persistenter Identifier"></i>
                          </th>
                          <td><a href="{{ object.pid.all.first }}">{{ object.pid.all.first.handle }}</a></td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "gelaufen" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'gelaufen' %}"></i>
                            </th>
                            <td>
                                {{ object.gelaufen }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "written_date" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'written_date' %}"></i>
                            </th>
                            <td>
                                {{ object.written_date }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "creator_person" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'creator_person' %}"></i>
                            </th>
                            <td>
                                {% for x in object.creator_person.all %}
                                    <a href="{{ x.get_absolute_url}}">
                                        {{ x }}
                                    </a><br />
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "bild_technik" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'bild_technik' %}"></i>
                            </th>
                            <td>
                                {% for x in object.bild_technik.all %}
                                    <a href="{{ x.get_absolute_url}}">
                                        {{ x }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            {% get_verbose_name card "subject_norm" %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'subject_norm' %}"></i>
                            </th>
                            <td>
                                {% for x in object.subject_norm.all %}
                                    <a href="{{ x.get_absolute_url}}">{{ x }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    <legend>
                        Text Vorderseite <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'text_front' %}"></i>
                    </legend>
                    <p>
                        {{ object.text_front }}
                    </p>
                    <legend>
                        Text Rückseite <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" title="{% get_help_text card 'text_back' %}"></i>
                    </legend>
                    <p>
                        {{ object.text_back }}
                    </p>
                    {% if object.note or object.note_content %}
                        <legend>
                            Anmerkungen, Kommentare
                        </legend>
                        {% if object.note %}
                            <p>
                                <small>{% get_verbose_name card "note" %}: </small> {{ object.note }}
                            </p>
                        {% endif %}
                        {% if object.note_content %}
                            <p>
                                <small>{% get_verbose_name card "note_content" %}: </small> {{ object.note_content }}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>

    </div>
    <div class="card-footer">
      <blockquote class="blockquote">
        <footer class="blockquote-footer">Zitierhinweis</footer>
        <p class="mb-0">Offizielle Ansichten, Karte Nr. {{object.legacy_id}}, URL: <a href="{{ object.pid.all.first }}">{{ object.pid.all.first }}</a>
        </p>
      </blockquote>
    </div>
{% else %}
    <h3>Diese Karte wird derzeit überarbeitet</h3>
{% endif %}
{% endblock %}
