{% extends "webpage/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
             <h1 class="card-title">Kontakt</h1>
        </div>
        <div class="card-body">
            <h3>Joachim Bürgschwentner</h3>
            <p>
                Im Falle von Fragen, Anregungen oder Beschwerden nehmen Sie gerne Kontakt mit uns auf.
            </p>
            <div style="text-align: right">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> official.depictions@gmail.com
            </p></div>
        </div>
    </div>

</div>

{% endblock %}
