{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Zur Datenbank {% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        Hinweise zur Datenbank
      </h1>
    </div>
    <div class="card-body">
      <div>
        <p>
          Diese Datenbank umfasst alle bisher identifizierten Ansichtskarten der zentralen offiziellen Kriegsfürsorge in Österreich (Rotes Kreuz, Kriegsfürsorgeamt, Kriegshilfsbüro) zwischen 1914 und 1918. Nicht enthalten sind die von regionalen und lokalen Zweigstellen dieser Organisationen produzierten Karten, die vom Flottenverein zugunsten der offiziellen Kriegsfürsorge vertriebenen Ansichtskarten sowie der Sonderfall des Gloria-Viktoria-Albums, ebenso wenig wie die Karten der offiziellen Kriegsfürsorge in Ungarn.</p>
        <p>
          Sie würden die Erweiterung der Datenbank gerne unterstützen? Kontaktieren Sie mich bitte! <a href="{% url 'webpage:staticpage' template='contact' %}">
            <i class="fas fa-external-link-alt"></i>
          </a>
        </p>
        <table class="table">
          <tr>
            <th>Ldf. Nr.</th>
            <td>Laufende Nummer. Alle identifizierten Karten, inklusive der Variationen, wurden mit fortlaufenden Nummern versehen. Auch für unidentifizierte Karten wurde eine laufende Nummer vergeben, und zwar einerseits für fehlende Nummern der
              Hauptserie und andererseits wenn ergänzende Quellen (Presseberichte, Verkaufslisten, Archivquellen etc.) einen bestimmten Kartentitel nennen, aufgrund derer diese Karten künftig identifiziert und zugeordnet werden könnten (vgl. z. B.
              die Thomas-Riss-Karten Nr. 959-967).</td>
          </tr>
          <tr>
            <th>Serie</th>
            <td>
              <p>Zur besseren Zuordnung wurden die Karten einer chronologischen und formalen Serie zugeordnet. Mit Ausnahme der „Kriegsbildkarten-Serie“ sind die Titel der Serien NICHT zeitgenössisch, sondern gehen auf den Verfasser dieser Datenbank zurück. Die Strukturierung als „Serie“ erfolgte anhand des Layouts der Adressseiten; ob diese Karten auch damals als Serie konzipiert worden waren, ist jedoch nicht immer klar.</p>
          </tr>
          <tr>
            <th>Nr i d Serie</th>
            <td><p>Nummer in der Serie, wenn diese nummeriert war, was auf die Kriegsbildkarten, die Serie mit schlichter grauer Adressseite und die Hauptserie zutrifft. Die Nummer wurde dabei exakt nach dem Aufdruck angegeben, also inklusive Unternummern, z.B. 53f, 54A, 74-13</p>
            <p>471 [Variante 1], 471 [Variante 2] = Karten einer Nummer, deren Motiv in geringfügig unterschiedlichen Variationen (z.B. Farbgebung, Aufdruck) veröffentlicht wurde
101 [1], 101 [2] = Karten, wobei unter der gleichen Nummer zwei unterschiedliche Motive veröffentlicht wurden
[55] = Karten der Hauptserie die keine Nummer tragen, denen aber in anderen Quellen (insbes. Verkaufskatalogen) eine Nummer zugeordnet wurde, hier Karte des Komitees bildender Künstler</p>
<p>o.Nr. [02] = Karten der Hauptserie ohne Nummer, denen zur besserer Übersicht eine beliebige vorläufige Nummer zugewiesen wurde</p></td>
          </tr>
          <tr>
            <th>(Archiv)Quelle</th>
            <td>
              Quelle, anhand derer die Texte von Bild- und Adressseite in die Datenbank eingetragen wurden. Die Datenbank basiert vor allem auf den aus der Privatsammlung Gerald Kern, Graz angefertigten Scans (z.B. Slg. GKG Scan 028_1), ergänzt wurde dies durch die Privatsammlung des Projektleiters (z.B. Slg. JBI, Nr. 1165) und die Sammlung Günter Sommer im Stadtarchiv/Stadtmuseum Innsbruck (z.B. StAI, Sommer Bd. 15, Nr. 160). Internetquellen wurden nur dann herangezogen, wenn die Motive mit Bild- und Adressseite abgebildet waren oder sich die Bildseite aus formalen Kriterien eindeutig zuordnen ließ. Auf die Angabe exakter Links wurde verzichtet, da insbesondere bei Verkaufsplattformen die Bilder nach einigen Wochen ohnehin nicht mehr abgerufen werden können.
            </td>
          </tr>
          <tr><th>Text Bildseite (Zitat)</th>
            <td>Alle Textelemente der Bildseite wurden hier buchstabengetreu eingetragen. Auf den Karten visuell getrennte Textelemente wurden durch ein Semikolon getrennt. Handelt es sich um Textelemente, die nicht als typografischer Aufdruck angebracht wurden, wurde folgende Kennzeichnungen vorangestellt:
              <ul>
                <li>
[sign.] = Signatur, entweder des Künstlers (Name, Bildtitel etc.), oder eine Faksimile-Handschrift des Porträtierten, oder die Sigle der Druckerei (z.B. AG)</li>
<li>
[kalligr.] = kalligrafisch ausgeführte Textteile (vgl. z.B. Lfd. Nr. 84)</li><li>
[Logo] = Logo einer Firma</li></ul>
Die Reihung erfolgt nicht nach der Platzierung auf der Karte sondern üblicherweise in folgender Form: 1. Titel der Karte, 2. sonstige typografische Aufdrucke, 3. Signatur des Künstlers, 4. Sigle der Druckerei
Fragliche Textelemente (insbes. Signaturen) wurden mit eckigen Klammern und/oder Fragezeichen oder „[unleserlich]“gekennzeichnet (vgl. z.B. Lfd. Nr. 337, 411)
Karten ohne aussagekräftige Titel wurden zwecks leichterer Identifizierung zum Teil mit einer Kurzbeschreibung in eckigen Klammern versehen (vgl. Lfd. Nr. 180)
Karte unidentifiziert = wurde eingetragen, wenn Karten noch unidentifiziert sind</td>
          </tr>
          <tr>
            <th>Text Bildseite (Zitat)</th>
            <td><p>Alle Textelemente der Bildseite wurden hier buchstabengetreu eingetragen. Auf den Karten visuell getrennte Textelemente wurden durch ein Semikolon getrennt. Die Reihung beginnt immer mit der Widmung und erfolgt dann üblicherweise gegen den Uhrzeigersinn.
Zur Kennzeichnung nicht-typografischer oder fraglicher Textelemente vgl. die Erläuterungen zu „Text Bildseite (Zitat)“ oben.</p><p>
Rückseite fehlt = wurde eingetragen, wenn zwar die Bildseite aufgrund von Internetquellen eindeutig identifiziert werden konnte, die Adressseite dort jedoch nicht angegeben war (vgl. a. die Erläuterungen zu „Quelle“ oben).</p><p>
Karte unidentifiziert = wurde eingetragen, wenn Karten noch unidentifiziert sind</p>
          </tr>
          <tr>
            <th>Erzeuger des Bildes (Person)</th>
            <td><p>Der Name des Künstlers bzw. Illustrators ist in der standardisierten Form Nachname, Vorname(n) angegeben. Dies umfasst lediglich den Künstler des Bildes, nicht jedoch Verfasser abgedruckter Gedichte oder Lieder.</p><p>
unidentifiziert = der Maler der Karte ist derzeit noch unidentifiziert</p><p>
AK n. id. = (Ansichtskarte nicht identifiziert) wurde eingetragen, wenn Karten noch unidentifiziert sind</p></td>
<tr><th>gelaufen</th><td>Bezeichnet, ob die Karte postalisch versandt wurde (gel. für gelaufen) oder nicht (n. gel. für nicht gelaufen). Bei gelaufenen Karten wurde das Datum vor allem dort eingetragen, wo es zur zeitlichen die Datierung der Serie beiträgt. Insbesondere bei der nummerierten Hauptserie ist dies nicht der Fall, weshalb auf die Angabe verzichtet wurde, zumal die Informationen den Scans entnommen werden können.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
