{% extends "webpage/base.html" %}
{% load static %}
{% block title %}Historischer Hintergrund{% endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Historischer Hintergrund</h1>
    </div>
    <div class="card-body">
      <h3>Die offizielle Kriegsfürsorge in Österreich 1914–1918</h3>
      <p class="_Fließtext ohne Einzug 148-C"><span>Bei Ausbruch des Ersten Weltkrieges war die staatliche Militärversorgung nur unzureichend ausgebildet,</span><span id="ftn1_return"><a class="notelink"
            title="Im Detail dazu: Verena Pawlowsky/Harald Wendelin, Die normative Konstruktion des Opfers. Die Versorgung der Invaliden des Ersten Weltkrieges, in: Laur…" href="#ftn1"><sup>1</sup></a></span> <span>weshalb die
          Abfederung der sozialen Folgen des Krieges in hohem Maß auf Spenden und Freiwilligenarbeit angewiesen war. Hierfür wurden diese innerhalb weniger Tage nach Kriegsausbruch Strukturen geschaffen. Weil sich das k. k. Ministerium des Innern und
          das k. u. k. Kriegsministerium nicht einigen konnten, in welchem der beiden Ministerium die neu zu errichtende Zentralstelle angesiedelt sein sollte, kam es zu einer komplizieren Kompromisslösung. Beinahe zeitgleich wurden das
          Kriegsfürsorgeamt im k. u. k. Kriegsministerium und das Kriegshilfsbüro im k. k. Ministerium des Innern gegründet. Zusammen mit der bereits bestehenden Österreichischen Gesellschaft vom Roten Kreuze bildeten sie die sogenannte „Offizielle
          Kriegsfürsorge“ der Österreichischen Reichshälfte (für die ungarische Reichshälfte hatte sich ein eigenes Kriegsfürsorgeamt im Honvedministerium gegründet).</span> <span id="ftn2_return"><a class="notelink"
            title="Eduard von und zu Liechtenstein, Die Kriegsfürsorge in Oesterreich. Was ich wollte und wie sie tatsächlich war, in: Heldenwerk. Ein literarisches Monu…" href="#ftn2"><sup>2</sup></a></span></p>
      <p><span>Laut eines Erlasses des Ministeriums des Innern vom 1. August 1914 sollten sie ursprünglich die gesamte Kriegsfürsorgetätigkeit unter sich aufteilen: Das von Präsident Rudolf Graf von
          Abensperg und Traun (1872–1954) geleitete Rote Kreuz war für die Betreuung verwundeter und kranker Militärangehöriger zuständig. Das Kriegshilfsbüro unter Eduard Prinz von und zu Liechtenstein (1872–1951) übernahm die Fürsorge für die
          Familien Einberufener. Das von Feldmarschallleutnant Johann Löbl von Tauernstorff (1859–1917) geführte Kriegsfürsorgeamt kümmerte sich um die im Feld befindlichen Soldaten und die Hinterbliebenenfürsorge.</span><span id="ftn3_return"><a
            class="notelink" title="Abgedruckt u.a. in: Wiener Zeitung, 3.8.1914, S. 1–2. [http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140803&amp;seite=1&amp;zoom=33] eingesehen 10. A…" href="#ftn3"><sup>3</sup></a></span> <span>In
          dieser Vereinbarung zunächst nicht explizit mitbedacht wurden dauerhaft Invalide, Kriegsgefangene, sowie die kriegsbedingt Geflüchteten, Evakuierten und Vertriebenen. Diese Aufgaben wurden in der Folge nicht
          automatisch der offiziellen Kriegsfürsorge übertragen, sondern wiederum separat geregelt. Die komplizierte Struktur sorgte in Zusammenhang mit inhaltlichen Überschneidungen und Begehrlichkeiten zu Konkurrenz- und Konfliktsituationen
          innerhalb der offiziellen Kriegsfürsorge.</span> <span id="ftn4_return"><a class="notelink" title="Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 264–265." href="#ftn4"><sup>4</sup></a></span></p>
      <p class="_Fließtext ohne Einzug 148-C"><span>Idealerweise sollten alle Spenden und Aufgaben auf die offizielle Kriegsfürsorgestellen konzentriert werden, zumindest aber sollte sie als Dachorganisation eine
          Kontrollfunktion über die zahllosen privaten Vereine und Komitees ausüben. Beides gelang nur in Ansätzen. Ein besonders augenscheinliches Beispiel ist der am 11. August 1914 gegründete „Witwen- und Waisenhilfsfonds der gesamten bewaffneten
          Macht“.</span> <span id="ftn5_return"><a class="notelink" title="u.a. in: Wiener Zeitung, 11.8.1914, S. 29-30. [http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140811&amp;seite=29&amp;zoom=33] eingesehen 10. August 2…"
            href="#ftn5"><sup>5</sup></a></span> <span>Dieses fand äußerst regen Zulauf und verfügte über exzellente Kontakte zu Militär und gesellschaftliche Elite. Nach kürzester Zeit sahen die offiziellen
          Kriegsfürsorgestellen keinen anderen Ausweg, als das Komitee dem Kriegsfürsorgeamt (das für die Hinterbliebenenfürsorge zuständig war) anzugliedern, was die interne Struktur weiter verkomplizierte.</span><span id="ftn6_return"><a
            class="notelink" title="Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 264" href="#ftn6"><sup>6</sup></a></span></p>
      <p><span>Entgegen den Aufrufen der Administration entstanden laufend neue Hilfskomitees, Fürsorgevereine und Kriegsfonds, die teils mit der offizielle Kriegsfürsorge kooperierten (wie etwa das
          „Komitee für die Flüchtlinge aus dem Süden“ oder die „Aktion Kälteschutz“), teils aber auch außerhalb und von ihnen unabhängig agierten (etwa das Schwarz-gelbe Kreuz). Ungeachtet staatlicher Zentralisierungs- und
          Professionalisierungstendenzen blieb über die gesamte Kriegsdauer ein kompliziertes Flickwerk bestehen. Viele Fragen der Organisation, Kooperation, Finanzgebarung und Hilfsmaßnahmen sind ungeklärt. Die Erforschung wird dadurch erschwert,
          dass große Teile des Schriftgutes – sowohl der offiziellen Kriegsfürsorge wie auch anderer Initiativen – nicht mehr erhalten ist.</span> <span id="ftn7_return"><a class="notelink"
            title="Matthias Egger/Joachim Bürgschwentner, Kriegsfürsorge, in: Hermann J. W. Kuprian/Oswald Überegger (Hrsg.), Katastrophenjahre. Der Erste Weltkrieg und …" href="#ftn7"><sup>7</sup></a></span></p>
      <p class="Diss-Standard" style="text-align:both; ">Abschließend sei noch erwähnt, dass die Erfahrungen des Ersten Weltkriegs zu nachhaltigen Neuerungen im Gesundheits- und Sozialbereich führten. Dazu zählen die 1917 erfolgten Gründungen des
        Jugendamtes, des Ministeriums für soziale Fürsorge und des Ministeriums für <span class="highlighttext">Volksgesundheit.</span><span id="ftn8_return"><a class="notelink"
            title="Froschauer, Dr. Eduard Prinz von und zu Liechtenstein, S. 204-234; Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 269-270; Österreichisches Staa…" href="#ftn8"><sup>8</sup></a></span><span class="highlighttext"> Dies brachte
          auch Veränderungen für die offizielle Kriegsfürsorge mit sich: Das Kriegshilfsbüro wurde ein Department des Jugendamts, zu dessen Leiter Liechtenstein aufstieg; beide Einrichtungen wechselten vom Ministerium des Innern ins Ministerium für
          soziale Fürsorge. </span></p>
      <p><span>(Zuletzt aktualisiert am: 16. August 2020).</span></p>
      <blockquote class="blockquote" style="text-align:center">
        <p class="mb-0"><small>Zitierhinweis:</small><br /> Joachim Bürgschwentner, „Die offizielle Kriegsfürsorge in Österreich 1914–1918“, aktualisiert am 16. August 2020, [<a class="link_ref"
            href="http://hdl.handle.net/123">http://hdl.handle.net/123</a>], eingesehen {% now "d.m.Y" %}.</p>
      </blockquote>
    </div>
  <div class="card-footer">
    <div class="note" id="ftn1"><span class="noteLabel">1. </span>
      <div class="noteBody">
        <p class="footnote text">Im Detail dazu: Verena Pawlowsky/Harald Wendelin, Die normative Konstruktion des Opfers. Die Versorgung der Invaliden des Ersten Weltkrieges, in: Laurence Cole/Christa Hämmerle/Martin Scheutz (Hrsg.), Glanz, Gewalt,
          Gehorsam. Militär und Gesellschaft in der Habsburgermonarchie (1800 bis 1918) (Frieden und Krieg 18), Essen 2011, S. 359–383; Verena Pawlowsky/Harald Wendelin, Die Wunden des Staates. Kriegsopfer und Sozialstaat in Österreich 1914–1938,
          Wien u.a. 2015.</p>
      </div>
    </div>
    <div class="note" id="ftn2"><span class="noteLabel">2. </span>
      <div class="noteBody">
        <p class="footnote text">Eduard von und zu Liechtenstein, Die Kriegsfürsorge in Oesterreich. Was ich wollte und wie sie tatsächlich war, in: Heldenwerk. Ein literarisches Monumentalwerk zum ewigen Gedenken an die ruhmvollen Waffentaten der
          österreichisch-ungarischen Armee und ihrer Helden, V+VI, Innsbruck o. J. [1920?], S. 263–273, hier S. 264.</p>
      </div>
    </div>
    <div class="note" id="ftn3"><span class="noteLabel">3. </span>
      <div class="noteBody">
        <p class="footnote text">Abgedruckt u.a. in: Wiener Zeitung, 3.8.1914, S. 1–2. [<a class="link_ref"
            href="http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140803&amp;seite=1&amp;zoom=33">http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140803&amp;seite=1&amp;zoom=33</a>] eingesehen 10. August 2020.</p>
      </div>
    </div>
    <div class="note" id="ftn4"><span class="noteLabel">4. </span>
      <div class="noteBody">
        <p class="footnote text">Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 264–265.</p>
      </div>
    </div>
    <div class="note" id="ftn5"><span class="noteLabel">5. </span>
      <div class="noteBody">
        <p class="footnote text">u.a. in: Wiener Zeitung, 11.8.1914, S. 29-30. [<a class="link_ref"
            href="http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140811&amp;seite=29&amp;zoom=33">http://anno.onb.ac.at/cgi-content/anno?aid=wrz&amp;datum=19140811&amp;seite=29&amp;zoom=33</a>] eingesehen 10. August 2020.</p>
      </div>
    </div>
    <div class="note" id="ftn6"><span class="noteLabel">6. </span>
      <div class="noteBody">
        <p class="footnote text">Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 264</p>
      </div>
    </div>
    <div class="note" id="ftn7"><span class="noteLabel">7. </span>
      <div class="noteBody">
        <p class="footnote text">Matthias Egger/Joachim Bürgschwentner, Kriegsfürsorge, in: Hermann J. W. Kuprian/Oswald Überegger (Hrsg.), Katastrophenjahre. Der Erste Weltkrieg und Tirol, Innsbruck 2014, S. 153–175, hier S. 155-156.</p>
      </div>
    </div>
    <div class="note" id="ftn8"><span class="noteLabel">8. </span>
      <div class="noteBody">
        <p class="footnote text">Froschauer, Dr. Eduard Prinz von und zu Liechtenstein, S. 204-234; Liechtenstein, Die Kriegsfürsorge in Oesterreich, S. 269-270; Österreichisches Staatsarchiv, Bundesministerium für soziale Verwaltung (1917- 1940).
          Verwaltungsgeschichte, [http://www.archivinformationssystem.at/detail.aspx?ID=5395], eingesehen 22.8.2017.</p>
      </div>
    </div>
  </div>
</div>
</div>

</div>

{% endblock %}
