{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

<div class="container" style="color:black">
        <h1 style="text-align:center">Offizielle Ansichten</h1>
        <h2 style="text-align:center">
          Datenbank der offiziellen Postkarten zugunsten von Rotem Kreuz, Kriegsfürsorgeamt und Kriegshilfsbüro 1914 – 1918 <br />
          <small>von Joachim Bürgschwentner</small>
        </h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin:20px">
        <div class="carousel-inner">
                <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'webpage/img/01_slg-gkg-sc_178_4.jpg' %}" alt="First slide" width="100%"/>
                        <div class="carousel-caption d-none d-md-block">
                                <h3 style="color: #7e9673; background-color: #00000094;">Karte aus der Kriegsbildkarten-Serie von 1914/15 (slg-gkg-sc-178-4)
                                  <a href="{% url 'cards:card_detail' pk=33 %}">
                                    <i class="fas fa-external-link-alt"></i>
                                  </a>
                                </h3>
                        </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'webpage/img/02_slg-gkg-sc_257_4.jpg' %}" alt="Second slide"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h3 style="color: #7e9673; background-color: #00000094;">Karte aus einer weiteren Kleinserie von 1914/15 (slg-gkg-sc-257-4)<a href="{% url 'cards:card_detail' pk=144 %}">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'webpage/img/03_slg-gkg-sc_076-1.jpg' %}" alt="Third slide"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h3 style="color: #7e9673; background-color: #00000094;">Karte aus der „Hauptserie“ mit der charakteristischen grünen Adressseite 1915-17 (slg-gkg-sc-076-1)<a href="{% url 'cards:card_detail' pk=566 %}">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'webpage/img/04_slg-gkg-sc_005_4.jpg' %}" alt="Third slide"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h3 style="color: #7e9673; background-color: #00000094;">Der „Hauptserie“ zuzuordnende Karte des Künstlerkomitees (slg-gkg-sc-005-4)<a href="{% url 'cards:card_detail' pk=200 %}">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'webpage/img/05_slg-gkg-sc_128_2.jpg' %}" alt="Fourth slide"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h3 style="color: #7e9673; background-color: #00000094;">Karte der „Hauptserie“ mit ebenfalls abweichender Rückseite (slg-gkg-sc-128-2)<a href="{% url 'cards:card_detail' pk=823 %}">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'webpage/img/07_slg-jbi_1087.jpg' %}" alt="Fifth slide"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h3 style="color: #7e9673; background-color: #00000094;">Karte aus einer Kleinserie zu den Marineschauspielen 1917/18 (07_slg-jbi_1087)<a href="{% url 'cards:card_detail' pk=1089 %}">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </h3>
                  </div>
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"/>
                <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"/>
                <span class="sr-only">Next</span>
        </a>
</div>
        <div class="container" style="color:black">

                <p style="text-align:justify">Ziel dieses, vom Tiroler Wissenschaftsfonds geförderten und am Institut für Geschichtswissenschaften und Europäische Ethnologie der Leopold-Franzens-Universität Innsbruck sowie dem Austrian Center for Digital Humanities and Cultural Heritage der Österreichischen Akademie der Wissenschaften (ACDH-ÖAW) umgesetzten Projekts ist es, die etwa 1000 sogenannten „offiziellen (Post)Karten“, die während des Ersten Weltkriegs von den zentralen Kriegsfürsorgestellen (Rotes Kreuz, Kriegsfürsorgeamt, Kriegshilfsbüro) in der österreichischen Reichshälfte gemeinschaftlich herausgegeben wurden, als Bestand zu rekonstruieren und zugänglich zu machen. Die erhobenen Datensätze werden derzeit überprüft und sukzessive freigeschaltet.</p>
                <h1 style="text-align:center">
                        <a class="btn btn-main btn-outline-primary btn-lg" href="{% url 'cards:card_browse' %}" role="button">Zu den Karten</a>
                </h1>
        </div>
</div>

{% endblock %}
